<section class="col-md-8 col-sm-12 col-md-offset-4 social-buttons">
	<span>share</span>
	<span class="share reddit">
		<a href="http://reddit.com/submit?url=http://www.hearthstone.gg{{ webPath }}&title={{metadata.title}}
" target="_new"><i class="fa fa-2x fa-reddit"></i></a>
	</span>
	<span class="share facebook">
		<a href="http://www.facebook.com/sharer.php?u=http://www.hearthstone.gg{{ webPath }}" target="_new"><i class="fa fa-2x fa-facebook"></i></a>
	</span>
	<span class="share twitter">
		<a href="https://twitter.com/share?url=http://www.hearthstone.gg{{ webPath }}&text={{metadata.title}}&via=hearthstone_gg
" target="_new"><i class="fa fa-2x fa-twitter"></i></a>
	</span>
	<span class="share googleplus">
		<a href="https://plus.google.com/share?url=http://www.hearthstone.gg{{ webPath }}
" target="_new"><i class="fa fa-2x fa-google-plus"></i></a>
	</span>
	<span class="share email">
		<a href="mailto:?subject=Hearthstone.gg Article - {{metadata.title}}&body=Article on Hearthstone.gg: {{metadata.title}} - http://www.hearthstone.gg{{ webPath }}"><i class="fa fa-2x fa-envelope"></i></a>
	</span>
</section>