{{> header }}
<div class="container-fluid article">
	<div class="row">
		<section class="sidebar col-md-12 col-sm-12" data-sidebar style="background-image: url('/assets/images/{{doc.metadata.image}}');">
			{{> sidebar }}
		</section>
		<section class="col-md-12 col-sm-12 main-content">
			<img src="/assets/images/{{doc.metadata.image}}" class="hdr-image" alt="Article Image" />
			<h1>{{ doc.metadata.title }}</h1>
			<hr />
			{{{ doc.fileInfo.content }}}

			{{#with doc.metadata}}
			<div class="meta">
				<span> {{ author }} </span> in <span> <a href="/categories#{{hashify category}}">{{>icons}}{{ category }}</a> </span> {{#if date}} - <span> {{ formatDate date day="numeric" month="short" year="numeric" }} </span> {{/if}}
			</div>
			{{/with}}

			<button data-show-comments style="display: none"><i class="fa fa-comments-o"></i> Show Comments</button>
			<div id="disqus_thread"></div>
			<script>
				//https://hearthstonegg.disqus.com/admin/settings/universalcode/
				var disqus_config = function () {
					this.page.url = 'http://www.hearthstone.gg{{ doc.webPath }}';
					this.page.identifier = '{{ hashify doc.id }}';
				};
			</script>
			<noscript>
				Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
			</noscript>
		</section>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		{{#with doc}}
		{{>social}}
		{{/with}}
	</div>
</div>
{{> footer }}