{{> header }}
<div class="container-fluid article">
	<div class="row">
		{{> sidebar }}
		<section class="col-md-8 col-sm-12 col-md-offset-4 main-content">
			<h1>{{ title }}</h1>
			<hr />
			{{{ body }}}

			<div class="meta">
				<span> {{ author }} </span> in <span> <a href="/categories#{{hashify category}}">{{ category }}</a> </span> {{#if date}} - <span> {{ formatDate date day="numeric" month="short" year="numeric" }} </span> {{/if}}
			</div>

			<div id="disqus_thread"></div>
			<script>
				//https://hearthstonegg.disqus.com/admin/settings/universalcode/
				var disqus_config = function () {
					this.page.url = 'http://www.hearthstone.gg/{{ path }}';
					this.page.identifier = '{{ path }}';
				};
			</script>
			<noscript>
				Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
			</noscript>
		</section>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<section class="col-md-8 col-sm-12 col-md-offset-4 social-buttons">
			<span class="st_reddit_large" displayText="Reddit"></span>
			<span class="st_facebook_large" displayText="Facebook"></span>
			<span class="st_twitter_large" displayText="Tweet"></span>
			<span class="st_googleplus_large" displayText="Google +"></span>
			<span class="st_email_large" displayText="Email"></span>
		</section>
	</div>
</div>
{{> footer }}