{{> header }}
<div class="container-fluid categories">
	<div class="row">
		<section class="sidebar col-md-4 col-sm-12" data-sidebar>
			{{> sidebar }}
		</section>
		<section class="col-md-8 col-sm-12 col-md-offset-4 main-content">
			{{{ doc.fileInfo.content }}}
			<ul class="category-list">
				{{#each allCategories}}
				<li><a href="#{{hashify this}}">{{>icons}} {{this}}</a></li>
				{{/each}}
			</ul>
			<br />
			{{#each allCategories}}
				<a name="{{hashify this}}"></a>
				<h3>{{>icons}}{{this}}</h3>
				<ul class="article-list">
					{{#each ../allDocs}}
						{{#if (isCategory category ../this) }}
						
							<li>
								<a href="{{ this.webPath }}" />{{ this.title }}</a>
								<p>
									{{ description }}
								</p>
								<hr class="stub" />
							</li>
						{{/if}}	
					{{/each}}
				</ul>
			{{/each}}
		</section>
	</div>
</div>
{{> footer }}