<!DOCTYPE html>
<html>
	<head>
		<title>
			{{#if title}}
				Hearthstone.gg - {{title}}
			{{else}}
				Hearthstone.gg
			{{/if}}
		</title>

		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=yes,width=device-width" />

		<link href='https://fonts.googleapis.com/css?family=Jim+Nightshade&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<!-- build:css /assets/css/styles.css -->
		<link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/sidebar.css">
		<!-- endbuild -->
	</head>
	<body>
		{{before}}
		{{after}}

		<div class="container-fluid">
			<div class="row">
				<section class="sidebar col-md-4 col-sm-12" data-sidebar>
					<span class="btn btn-default menu-trigger" data-menu-trigger>
						<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
					</span>

					<ul class="menu" data-menu>
						<li><a href="/">Home</a>
						<!--<li><a href="/archives.html">Archive</a>-->
						<li><a href="/about.html">About</a>
					</ul>
					<div class="sidebar-content">
						<h1>Hearthstone.gg</h1>
						<hr />
						<strong>The Endgame</strong>
					</div>
				</section>
				<section class="col-md-8 col-sm-12 col-md-offset-4 main-content">
					{{{ body }}}
				</section>
			</div>
		</div>

		<!-- build:js /assets/js/script.js -->
		<script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="/assets/js/index.js"></script>
		<script type="text/javascript" src="/assets/js/menu.js"></script>

		<script type="text/javascript" src="/assets/js/google-analytics.js"></script>
		<!-- endbuild -->
	</body>
</html>