{{> header }}
<div class="container-fluid index">
	<div class="row">
		{{> sidebar }}
		<section class="col-md-8 col-sm-12 col-md-offset-4 main-content">
			{{{ body }}}
			<hr />
			<ul>
			{{#each allDocs}}
				{{#if isArticle}}
					<li>
						<a href="/{{ this.path }}" />{{ this.title }}</a>
						<p>
							{{ description }}
						</p>
						<div class="meta">
							<span> {{ author }} </span> in <span> {{ category }} </span> - <span> {{ formatDate date day="numeric" month="short" year="numeric" }} </span>
						</div>
						<hr class="stub" />
					</li>
				{{/if}}
			{{/each}}
			</ul>
			<!--
			{{json allDocs}}
			-->
		</section>
	</div>
</div>
{{> footer }}